.news-aggregator {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.news-aggregator .heading {
  color: #ff6f6f;
}

.no-articles-message {
  margin: 20px 0;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2em;
  color: #555;
}

.no-articles-message p {
  margin: 0;
}

.loading-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loading-section .clip-loader {
  display: block;
}

.load-more{
  display: flex;
  justify-content: center;
  align-items: center;
}
.load-more-button {
  border: 1px solid #ff6f6f;
  background-color: white;;
  color: #ff6f6f;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
}
.load-more-button:hover {
  background-color: #f8e8e8;
}
